For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?

Is the website redesign any good?

Is our television ad driving more sales?

Has the network latency increased since we switched internet service providers?

Null hypothesis: The new internet service provider has not increased network latency.

Alternative hypothesis: The new internet service provider has resulted in an increase in network latency. (one-tail test)

True positive: The test rejects the null hypothesis and the network latency has increased since switching internet service providers.

True negative: The test fails to reject the null hypothesis and the network latency has not increased since switching internet providers.

False positive: The test rejects the null hypothesis but the switch to another internet service provider did not actually increase network latency.

False negative: The test fails to reject the null hypothesis but the switch to another internet service provider did increase network latency.

Does the new website design increase the average monthly rate of customers who join?

Null hypothesis: The new website design has no effect on the average monthly rate of new customers.

Alternative hypothesis: The new website design has affected the average monthly rate of new customers.

True positive: The null hypothesis is rejected and the website has actually influenced the rate of new customers per month.

True negative: The test fails to reject the null hypothesis and the website indeed has no effect on the average amount of new customers per month. 

False positive: The test rejects the null hypothesis, but the website does not affect the average amount of new customers per month.

False negative: The test fails to reject the null hypothesis, but the website does indeed affect the average amount of new customers per month.

Does our television ad affect sales?

Null hypothesis: Our television ad has no effect on sales.

Alternative Hypothesis: Our television ad positively affects sales.

True positive: The test rejects the null hypothesis and the ad has positively affected sales.

True negative: The test fails to reject the null hypothesis and the ad has had no effect on sales.

False positive: The test rejects the null hypothesis but the ad does not affect sales.

False negative: The test fails to reject the null hypothesis but the ad does indeed affect sales.

In [1]:
import numpy as np
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [2]:
m1 = 90.0
σ1 = 15
n1 = 40

m2 = 100.0
σ2 = 20
n2 = 50

alpha = .05

# H0: μ1 == μ2
# Ha: μ1 != μ2

In [3]:
t, p = stats.ttest_ind_from_stats(mean1=90, std1=15, nobs1=40, mean2=100, std2=20, nobs2=50)

In [4]:
t, p

(-2.6252287036468456, 0.01020985244923939)

In [5]:
if p < alpha:
    print('We can reject the null hypothesis.')
else:
    print('We cannot reject the null hypothesis.')

We can reject the null hypothesis.

#### Load the mpg dataset and use it to answer the following questions:

#### Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [6]:
df = data('mpg')

In [7]:
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [8]:
df.dropna()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [15]:
df['avg_mpg'] = (df.cty + df.hwy) / 2
df.avg_mpg

1      23.5
2      25.0
3      25.5
4      25.5
5      21.0
       ...
230    23.5
231    25.0
232    21.0
233    22.0
234    21.5
Name: avg_mpg, Length: 234, dtype: float64

In [16]:
new_car_mpg = df[df.year == 2008].avg_mpg

In [18]:
old_car_mpg = df[df.year == 1999].avg_mpg

In [22]:
stat, pval = stats.levene(new_car_mpg, old_car_mpg)

In [23]:
if pval < .05:
    print('We reject the null hypothesis.')
else:
    print('We fail to reject the null hypothesis.')

We fail to reject the null hypothesis.

In [24]:
tmpg, pmpg = stats.ttest_ind(new_car_mpg, old_car_mpg)

In [25]:
tmpg, pmpg

(-0.21960177245940962, 0.8263744040323578)

In [26]:
if pmpg < .05:
    print('We can reject the null hypothesis.')
else:
    print('We fail to reject the null hypothesis.')

We fail to reject the null hypothesis.

#### Are compact cars more fuel-efficient than the average car?

In [29]:
compact_eff = df[df['class'] == 'compact'].avg_mpg

In [32]:
avg_eff = df.avg_mpg.mean()

In [ ]:
# H0: There is no difference between the fuel efficiency of compact cars compared to the average car.
# Ha: Compact cars are more efficient than the average car.

# One sample, one-tail t-test: μ of compact fuel efficiency > μ of average car

In [34]:
tfuel, pfuel = stats.ttest_1samp(compact_eff, avg_eff)

In [35]:
if pfuel < alpha and tfuel > 0:
    print('We reject the null hypothesis.')
else:
    print('We fail to reject the null hypothesis.')

We reject the null hypothesis.

#### Do manual cars get better gas mileage than automatic cars?

In [42]:
man_mpg = df[df.trans.str.contains('manual')].avg_mpg
man_mpg

2      25.0
3      25.5
6      22.0
8      22.0
10     24.0
13     21.0
15     20.0
24     21.0
26     21.0
28     19.5
49     17.0
52     15.5
56     14.0
65     14.0
69     14.0
70     10.5
72     13.5
79     17.0
85     15.5
86     14.5
91     22.0
93     21.5
96     18.5
97     19.0
99     17.0
100    30.5
102    28.5
103    26.0
105    30.0
108    25.0
110    22.5
112    26.0
114    22.0
117    24.0
118    24.0
121    20.0
122    20.5
142    25.0
145    27.5
146    23.0
149    22.0
152    16.0
160    21.5
162    23.5
163    22.0
167    22.5
168    22.5
172    22.0
173    23.5
174    17.5
177    16.0
180    25.0
182    26.0
185    22.0
188    25.0
189    26.0
192    22.0
196    30.5
197    32.5
201    17.5
203    19.5
204    16.0
206    16.5
208    25.0
210    25.0
212    20.5
213    38.5
214    25.0
217    25.0
219    25.0
221    20.5
222    39.5
224    25.0
226    24.0
228    25.0
231    25.0
233    22.0
Name: avg_mpg, dtype: float64

In [46]:
auto_mpg = df[df.trans.str.contains('auto')].avg_mpg
auto_mpg

1      23.5
4      25.5
5      21.0
7      22.5
9      20.5
11     23.0
12     20.0
14     21.0
16     19.5
17     21.0
18     19.5
19     17.0
20     13.0
21     17.0
22     15.0
23     14.5
25     19.0
27     20.0
29     16.5
30     12.5
31     13.0
32     15.5
33     23.0
34     26.0
35     22.0
36     23.5
37     21.5
38     21.0
39     20.5
40     19.0
41     19.0
42     20.5
43     20.5
44     14.0
45     18.5
46     18.0
47     19.5
48     19.5
50     16.0
51     15.0
53     16.5
54     16.5
55     10.5
57     13.0
58     15.0
59     15.0
60     10.5
61     15.0
62     13.5
63     15.5
64     13.0
66     10.5
67     15.0
68     15.0
71     13.0
73     15.0
74     13.0
75     14.0
76     14.0
77     15.0
78     15.5
80     15.5
81     16.0
82     16.0
83     15.0
84     15.5
87     14.5
88     15.0
89     13.0
90     15.0
92     21.5
94     20.0
95     18.0
98     18.5
101    28.0
104    28.0
106    30.5
107    30.0
109    22.0
111    25.5
113    22.0
115    23.5
116    22.5
119    23.5
120    20.5
123    19.5
124    17.0
125    17.5
126    15.5
127    10.5
128    16.5
129    15.5
130    12.5
131    13.0
132    15.0
133    15.0
134    13.0
135    14.0
136    13.5
137    15.0
138    15.5
139    16.0
140    16.0
141    15.0
143    23.0
144    27.0
147    22.5
148    22.0
150    22.0
151    15.5
153    17.0
154    15.0
155    22.0
156    21.0
157    22.0
158    23.0
159    20.5
161    21.0
164    23.0
165    20.5
166    23.5
169    22.5
170    22.5
171    23.5
175    18.0
176    17.0
178    18.0
179    15.5
181    24.0
183    26.0
184    22.0
186    23.5
187    24.0
190    26.5
191    22.0
193    22.5
194    27.0
195    28.5
198    30.5
199    13.0
200    15.5
202    18.0
205    17.0
207    18.0
209    22.5
211    25.5
215    22.5
216    25.5
218    25.0
220    19.5
223    35.0
225    22.5
227    24.5
229    23.5
230    23.5
232    21.0
234    21.5
Name: avg_mpg, dtype: float64

In [44]:
ttrans, ptrans = stats.ttest_ind(man_mpg, auto_mpg)

In [45]:
if ptrans < alpha and t > 0:
    print('We reject the null hypothesis.')
else:
    print('We fail to reject the null hypothesis.')

We fail to reject the null hypothesis.